<% content_for(:breadcrumbs)  do %>
	<%= link_to('Patients', patients_url) %>
	/
	<%= link_to('Add Patient', new_patient_url) %>
<% end %>

<% content_for(:header)  do %>
	<%= "Add Patient"%>
<% end %>


<div id="patientinfo">
	<% form_for(@patient) do |f| %>	

		<%= render :partial => f %>		 

	<% end %>
</div>